/*Hero section*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
  }

/*Footer*/
footer {
    margin:auto;
    text-align: center;
    align-items: center;
}



/*PDF*/

.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}

/*Font CSS*/

.audiowide-regular {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
  }

  .chakra-petch-light {
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .chakra-petch-regular, p {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold, h1, h2, a {
    font-family: "Chakra Petch", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 700;
    font-style: italic;
  }

  /*Grid Code*/

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }
  