
.coreIdeas{
    color: royalblue;
    font-size: 20px;
    text-align: left;
}
.tools{
    color: rgb(2, 106, 124);
    font-size: 20px;
    text-align: left;
}
h1, nav{
    text-align: center;
    margin:20px
}
nav, header{
    background-color: aliceblue;
    padding: 20px;
    margin: 0;
}
nav{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
body{margin: 0;}
a{
    text-decoration: none;
}
h1,h2{ font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
p{ 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 40px;
    margin: 20px;
}
ul{
    margin: 40px;
    padding-bottom: 20px;
}
footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 40px;
}
main{   
    align-items: center;
    text-align: center;
}
.block{
    padding:20px;
    text-align: center;
    width: 80%;
    margin: 2% 10% 2% 10%;
    background-color: rgb(187, 243, 253);
    border-radius: 20px;
}
.block:last-child{
    margin: 2% 10% 7% 10%;
}
.block:first-child{
    text-align: center;
}
a{color: rgb(2, 106, 124);}
a::after{color: #000;}
#flowChart{
    border-radius: 20px;
}
table,tr,th,td{margin: auto;}
th{
    background-color: antiquewhite;
    padding: 10px 90px 10px 90px;
}
td{
    background-color: aliceblue;
    padding: 2%;
}