Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
    font-size: larger;
    font-family: 'Roboto Condensed', 'Lato', Arial, sans-serif !important;
    color: #f1faee;
}

body {
    background-color: #1d3557;
    text-align: center;
    justify-content: center;
    scroll-behavior: smooth !important;
    font-optical-sizing: auto;
    font: 1.2em "Kode Mono", monospace;
}

/* Typography */
h2 {
    color: #f1faee;
}

p {
    color: #a8dadc;
}

.title {
    display: flex;
    text-align: left;
    margin: left;
    color: #f35865;
    font-size: 50px;
}

/* Navigation Styles */
header {
    margin: 10px 40px 0;
    font-size: larger;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    border-radius: 5%;
}

.nav-links li {
    margin: 0 15px;
    border-radius: 5%;
}

.nav-links a {
    color: #ecf0f1; /* Light Gray */
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
    border-radius: 100px;
}

.nav-links a:hover {
    background-color: #e74c3c; /* Red */
    color: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    align-items: end;
    text-align: right;
    cursor: pointer;
    padding: 0 20px;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #e67e22; /* Orange */
    margin: 3px 0;
    border-radius: 50px;
}

.pressed {
    color: #0000EE;
}

/* Main Content Styles */
.card {
    width: 60%;
    text-align: right;
    margin: 20px auto; /* Center the card */
}

.card-body {
    border-radius: 20px;
}

main {
    width: 80%;
    margin: auto;
    color: #a8dadc;
}

.work-square {
    min-width: 50%;

}

table {
    min-width: 100%;
    min-height: 100%;
}

/* Section Styles */
section {
    width: 60%;
    margin: auto;
}

hr {
    border: 1px solid #457b9d;
    margin: 20px auto;
    width: 55%;
}

/* Footer Styles */
footer {
    text-align: center;
}

/* About Styles */
.about {
    background-color: #e76f51;
    padding: 20px;
    border-radius: 20px;
}

/* Animation Styles */
.firstname,
.lastname,
.name
.animated-element {
    font-size: 50px;
    animation-duration: 1.5s;
}

.firstname {
    color: #e63946;
    animation-name: lightSpeedInLeft;
}

.lastname {
    animation-name: lightSpeedInRight;
}

.name {
    color: #f35865;
    animation: pulse;
    animation-delay: 1.5s;
    animation-duration: 1s;
}

body.no-scroll {
    overflow-x: hidden;
    width: 100%;
}

/* Decoration Styles */
.deco {
    margin: 5% 0 80px;
    width: 100%;
    height: 50px;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='16.591' height='26.667' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(215, 50%, 23%, 1)'/><path d='M-4.887 15.766c-.06 0-.123.04-.123.102-.102 1.023.082 2.086.471 3.089a7.997 7.997 0 001.8 2.72A8.89 8.89 0 00.064 23.52a8.884 8.884 0 003.334.655 8.807 8.807 0 003.335-.655c1.064-.43 2.025-1.044 2.803-1.841a7.997 7.997 0 001.8-2.721 7.655 7.655 0 00.353-1.178 7.62 7.62 0 00.363 1.239 7.994 7.994 0 001.8 2.72 8.449 8.449 0 002.803 1.842 8.807 8.807 0 003.334.655 8.807 8.807 0 003.335-.655 8.89 8.89 0 002.803-1.841 7.711 7.711 0 001.8-2.721c.164-.389.266-.798.368-1.207v-1.984c-.06-.02-.102 0-.143.04-.9 1.78-2.086 3.15-3.518 4.092a8.773 8.773 0 01-4.665 1.412 8.624 8.624 0 01-4.665-1.391c-1.419-.913-2.615-2.269-3.493-4.045-.002-.023-.002-.045-.005-.067 0-.02-.02-.062-.06-.082-.062-.02-.144 0-.165.06-.88 1.8-2.086 3.172-3.518 4.093a8.476 8.476 0 01-4.665 1.41c-1.636 0-3.232-.47-4.664-1.39-1.432-.92-2.619-2.311-3.519-4.091-.02-.041-.06-.062-.102-.102z'  stroke-width='1' stroke='none' fill='hsla(258.5,59.4%,59.4%,1)'/><path d='M-11.553 2.432c-.062 0-.123.04-.123.102-.103 1.023.082 2.087.47 3.09a7.997 7.997 0 001.8 2.72 8.89 8.89 0 002.803 1.841 8.884 8.884 0 003.335.655 8.807 8.807 0 003.335-.655c1.063-.43 2.025-1.043 2.802-1.84a7.997 7.997 0 001.8-2.722 7.655 7.655 0 00.353-1.178 7.62 7.62 0 00.364 1.24 7.994 7.994 0 001.8 2.72 8.449 8.449 0 002.802 1.841 8.807 8.807 0 003.335.655 8.807 8.807 0 003.335-.655 8.89 8.89 0 002.802-1.84 7.711 7.711 0 001.801-2.722c.164-.388.266-.797.368-1.206V2.493c-.061-.02-.102 0-.143.04-.9 1.78-2.086 3.15-3.518 4.092a8.773 8.773 0 01-4.665 1.412 8.624 8.624 0 01-4.665-1.391C7.22 5.733 6.022 4.377 5.145 2.6l-.005-.067c0-.02-.02-.062-.06-.082-.062-.02-.145 0-.165.061-.88 1.8-2.086 3.171-3.518 4.092a8.476 8.476 0 01-4.665 1.411c-1.637 0-3.232-.47-4.664-1.39-1.432-.922-2.619-2.312-3.519-4.092-.02-.041-.061-.062-.102-.102z'  stroke-width='1' stroke='none' fill='hsla(339.6,82.2%,51.6%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-2,0)' fill='url(%23a)'/></svg>");
}

/* Flexbox Styles */
.columns {
    display: flex;
    border-radius: 20px;
}

.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.logo a {
    color: #e67e22; /* Orange */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.box {
    background-color: #457b9d;
    border-radius: 20px;
    border-left: 1px solid #1d3557;
    width: 35%;
    margin: auto;
}

/* Global and existing styles here */

/* Hamburger Menu Styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #e67e22; /* Orange */
    margin: 4px 0;
    transition: 0.3s;
}

/* Mobile Navigation Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #34495e;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        opacity: 0;  /* Initially hidden */
        transform: translateY(-20px); /* Start with a slight upward offset */
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .nav-links.active {
        display: flex;
        opacity: 1;  /* Become visible */
        transform: translateY(0);  /* Slide into place */
        border-radius: 20px;
    }
    

    .menu-toggle {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}


/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #34495e; /* Darker Blue */
        width: 30%;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
        font-size: smaller;
    }

    .menu-toggle {
        display: flex;
        text-align: right;
        align-items: right;
        margin: right;
        border-radius: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin: 10px 0 5px;
    }

    input, textarea {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #bdc3c7; /* Light Gray */
        border-radius: 5px;
    }

    button {
        background-color: #e67e22; /* Orange */
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

    button:hover {
        background-color: #d35400; /* Darker Orange */
    }
}